<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>


	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".abap" mimeType="text/plain" />
			<mimeMap fileExtension=".amp" mimeType="text/plain" />
			<mimeMap fileExtension=".cs" mimeType="text/plain" />
			<mimeMap fileExtension=".php" mimeType="text/plain" />
			<mimeMap fileExtension=".sql" mimeType="text/plain" />
			<mimeMap fileExtension=".snippets" mimeType="text/plain" />
		</staticContent>
	</system.webServer>

</configuration>
