snippet %%[

	${1}
	]%%
snippet %%=
	${1}=%%
snippet %%[for
	FOR ${1:<variable>} = ${2:<start>} TO ${1:<variable>}${3:<condition>} DO ]%%
		${4}
	%%[NEXT ${1:<variable>}]%%
snippet %%[if
	if ${1:<condition>} then]%%
	%%${2}%%
	%%[endif]%%
snippet %%[ifelse
	if ${1:<condition>} THEN]%%
		%%[ ${2} ]%%
	%%[ ELSEIF /*Condition*/ THEN]%%
		%%[ /*Load Content or Script Here*/ ]%%
	%%[ENDIF]%%